---
// src/components/SEO.astro
const {
  title,
  description,
  pubDate,
  image,
  url
} = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:type" content="article" />
<meta property="og:url" content={url} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />

{pubDate && (
  <script type="application/ld+json">
    {JSON.stringify({
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      headline: title,
      description,
      datePublished: pubDate,
      author: {
        "@type": "Person",
        name: "Rizwaan Abdulkadir"
      },
      image: image,
      mainEntityOfPage: {
        "@type": "WebPage",
        "@id": url
      }
    })}
  </script>
)}
